@font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url();
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0; 
}

.grid-flow {
    margin: 0;
    display: grid;
    align-content: start;
    gap: 1rem;
}

.grid-flow[data-spacing="large"] {
    gap: 2rem;
}

@media (min-width: 600px) {
    body {
        min-height: 100vh;
        display: grid;
        place-items: center;
    }
}

.section-title {
    font-weight: 700;
    font-size: 600;
}

.button {
    background-color: rgb(2, 6, 24);
    color: rgb(223, 215, 215);
    border-radius: 75px;
    border: 0;
    padding: 10px 5px;
    margin-top: 20px;
    display: block;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(3, 3, 68);
    color: rgb(255, 255, 255);
}

.result-summary {
    --padding: 30px;
    --border-radius: 20px;
    max-width: 500px;
    display: grid;
}

@media (min-width: 600px) {
    .result-summary {
        margin-inline: 10px;
        grid-template-columns: 1fr 1fr;
        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow:  1px 1px 5px 0px rgba(0, 0, 0, 0.3);

    }
}

.results {
    text-align: center;
    color: rgb(231, 226, 225);
    background: linear-gradient(160deg, rgba(37, 140, 236, 0.46), rgba(1, 12, 20, 1));
    border-radius:
    0 0 var(--border-radius) var(--border-radius) ;
}

@media (min-width: 600px) {
    .results {
        border-radius: var(--border-radius);
    }
}

.result-score {
    width: 150px;
    display: grid;
    place-content: center;
    margin-inline: auto;
    background: linear-gradient(180deg, rgba(19, 53, 85, 0.46), rgba(47, 124, 184, 0.57));
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.result-score span {
    display: block;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    color: white;
}

.result-rank {
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.summary-item {
   display: flex;
   justify-content: space-between ;
   align-items: center;
   padding: 5px;
   border-radius: 10px;
   /* background-color: rgb(100, 128, 180); */
}

.flex-group {
    display:flex;
    align-items: center;
    gap: 7px ;
    flex-wrap:wrap
}
.results,
.summary {
    padding: var(--padding)
}

.summary-item [data-item-type="accent-1"] {
    color: rgb(30, 17, 202);
    background-color: brown;
}